.table {
	width: 100%;
	border: none;
  display: block;
  overflow-x: auto;
	border-collapse: collapse;

  th {
    font-weight: bold;
    text-align: left;
    border: none;
    padding: 10px 15px;
    background: rgb(34, 197, 94);
    font-size: 14px;
    color: #fff;

    &:first-child {
      border-radius: 20px 0 0 0;
    }

    &:last-child {
      border-radius: 0 20px 0 0;
    }
  }

  td {
    text-align: left;
    border: none;
    padding: 10px 15px;
    font-size: 14px;
    vertical-align: top;
  }
  
  tr {
    &:nth-child(even) {
      background: #F8F8F8;
    }

    &:last-child td:first-child {
      border-radius: 0 0 0 20px;
    }

    &:last-child td:last-child {
      border-radius: 0 0 20px 0;
    }
  }
}