@import 'table';
@import 'form';
@import 'header';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 10px 15px;
}

.mt-20 {
  margin-top: 20px;
}

.text-center {
  text-align: center;
}